<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="./style.css">
  <meta charset="utf-8">
	<title>Weather Forecasting</title>
</head>
<body>
  <h1>Weather</h1>
  <p>Will you need your snow boots tomorrow? Should you bring an umbrella? Accurate weather predictions are important for planning our day-to-day activities. Farmers need information to help them plan for the planting and harvesting of their crops. Airlines need to know about local weather  Why does wind make some winter days seem bitterly
cold? Calculate wind chill in this activity. conditions in order to schedule flights. Weather forecasting helps us to make more informed daily decisions, and may even help keep us out of danger.</p>

<p>Here you dont need to worry at all because here you will be getting the accurate weather conditions of the place you want to know and that too in a very short amount of time.It is made possible by two free API services provided by Mapbox & DarySky which when combined give you the weather details of your place.</p>

<form >
        <input placeholder="Location">
        <button>Search</button>
      </form>

      <p id="message-1"></p>
      <p id="message-2"></p>

<script src="./script.js"></script>      
</body>
</html>
